@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

html{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

body{
    min-height: 100vh;
}

main{
    min-height: 100vh;
}

.container{
    width: 375px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .image{
    padding: 50px 10px;
}

.container .image .logo{
    width: 50px;
}

.container .header{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.container .header h1{
    padding: 15px;
    font-weight: 300;
    font-size: 22px;
    color: hsl(0, 0%, 59%);
}

.container .header h1>span{
    font-weight: 600;
    color: black;
}

.container .header p{
    font-size: 13px;
    
}

.container .form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .form .email-field{
    padding: 14px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 59%);
}

.container .form .email-field::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.container .form .error-alert{
    margin: 0 0 10px 20px;
    font-size: 10px;
    color: hsl(354, 100%, 66%);
    visibility: hidden;
}

.container .form .submit{
    background-color: hsl(223, 87%, 63%);
    margin-bottom: 50px;
    padding: 14px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.container .illustration img{
    width: 100%;
    margin-bottom: 90px;
}

.container .social-links{
    text-align: center;
    margin-bottom: 15px;
    color: hsl(223, 87%, 63%);
}

.container .social-links a{
    margin-right: 10px;
}

.container .copyright{
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}